---
---

@import "{{ site.theme }}";
header {
  float:middle;
  width:270px;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}
section {
    float:middle;
    padding-bottom:50px;
}
h3 {
    display: inline;
}
a:link {
  color:#870505;
}
a:visited {
  color: #870505;
}
a:hover {
  color: #267cb9;
  font-weight: bold;
}