---
---

@import "{{ site.theme }}";
header {
  float:middle;
  width:270px;
  -webkit-font-smoothing:subpixel-antialiased;
}
section {
  width:500px;
  float:middle;
  padding-bottom:50px;
}
footer {
  width:270px;
  float:middle;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
h3 {
    display: inline;
}
a:link {
  color:#870505;
}
a:visited {
  color: #870505;
}
a:hover {
  color: #267cb9;
  font-weight: bold;
}